%center
%subtxt The computer chooses #{@choice[1]} sticks from row #{@choice[0]}
%br

%center
    %br
    - [:row_one, :row_two, :row_three, :row_four].each do |row|
        - @row_num+=1
        - (1..@board[row]).each do |i|
            =check_box_tag "sticks_chosen[#{i}]", @row_num, @bool_check[@row_num-1][i-1], id: "stick_field_#{row}#{i}"
        %br

            
    - if @computer_lose
        %text Congrats, you won!!!
        = link_to 'start over', root_path, method: :get, id: 'start over button'
    - else
        %subtxt click to update the board
        = button_to 'continue', board_path(id: @new_id, turn: @next_turn), method: :get, id: 'continue button'


