%center
%subtxt The computer chooses #{@choice[1]} sticks from row #{@choice[0]}
%br

%center
    %br
    - [:row_one, :row_two, :row_three, :row_four].each do |row|
        - @row_num+=1
        - (1..@board[row]).each do |i|
            =check_box_tag "sticks_chosen[#{i}]", @row_num, @bool_check[@row_num-1][i-1], id: "stick_field_#{row}#{i}"
        %br
        %br

            
    - if @computer_lose
        %txt Congrats, you won!!!  You can now
        = link_to 'start over', root_path, method: :get, id: 'start over button',
            class: 'link_class'
        
        %txt Or review the game's 
        = link_to 'history', history_board_index_path(turn: @current_turn), 
            method: :get, id: 'history button', class: 'link_class'

    - else
        %subtxt click to update the board
        = button_to 'continue', board_path(id: @new_id, turn: @next_turn), 
            method: :get, id: 'continue button', class: 'button_class'


