

%center
    = form_tag human_board_index_path, method: :get, id: 'stick_boxes' do
        %br
        - [:row_one, :row_two, :row_three, :row_four].each do |row|
            - @row_num+=1
            - (1..@board[row]).each do |i|
                =check_box_tag "sticks_chosen[#{i}]", @row_num, false, id: "sticks_chosen_#{row}#{i}"
            %br

        -# here put notice according to player
        -# or use render
        
        - if @human_lose
            %text Sorry, you lose.
            = link_to 'start over', root_path, method: :get, id: 'start over button'
        - else
            %text It is your turn, choose your sticks above
            %br
            = submit_tag 'remove chosen sticks', id: 'remove_sticks'
