

%center
    = form_tag human_board_index_path, method: :get, id: 'stick_boxes' do
        %br
        - [:row_one, :row_two, :row_three, :row_four].each do |row|
            - @row_num+=1
            - (1..@board[row]).each do |i|
                - index = @row_num**2 - 2*@row_num +1+ i
                =check_box_tag "sticks_chosen[#{index}]", @row_num, false, id: "sticks_chosen_#{row}#{i}"
            %br
            %br

        -# here put notice according to player
        -# or use render
        
        - if @human_lose
            %txt Sorry, you lose. You can
            = link_to 'start over', root_path, method: :get, id: 'start over button',
                class: 'link_class'
                
            %txt Or review the game's 
            = link_to 'history', history_board_index_path(turn: @current_turn), 
                method: :get, id: 'history button', class: 'link_class'

        - else
            %subtxt It is your turn, choose your sticks above
            %br
            = submit_tag 'remove chosen sticks', id: 'remove_sticks', class: 'button_class'
